node_modules
dist
.nuxt
.output
.next
next-env.d.ts
*.log
.DS_Store
.pnpm-store
.next

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

*storybook.log
storybook-static
